<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appender de type fichier -->
	<!-- <appender name="fichier" class="org.apache.log4j.FileAppender">
		<param name="file" value="/home/sbenmoussa/workspace/computer-database/app.log"/>
		<layaout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
		</layaout>
	</appender> -->
	
	<appender name="db" class="ch.qos.logback.core.JDBCAppender">
		<param name="url" value="jdbc:mysql://localhost:3306/computer-database-db"/>
		<param name="dbclass" value="com.mysql.jdbc.Driver"/>
		<param name="username" value="root"/>
		<param name="password" value="root"/>
		<param name="sql" value="insert into log4j (priority, category, thread, message, layout_msg, timestamp, addon) VALUES('@PRIO@','@CAT@','@THREAD@','@MSG@','@LAYOUT:1@', '@TIMESTAMP@','addon')"/>
		<param name="buffer" value="1"/>
		<param name="commit" value="true"/>
		<param name="quoteReplace" value="true"/>
		<param name="layoutPartsDelimiter" value="#-#"/>
		<layaout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t] %m#-##-#%d{dd.MM.yyyy}#-#%d{HH:mm:ss}"/>
		</layaout>
	</appender>

	<!--  Logger associe aux classes com.projet.computerdata.* -->
	<logger name="com.excilys.computerdatabase.service.*" additivity="true">
		<level value="DEBUG"/>
		<appender-ref ref="db"/>
	</logger>

	<!--  Comportement par deffaut -->
	<root>
		<!-- <level value="info"/>
		<appender-ref ref="fichier"/>-->
		<appender-ref ref="db"/>
	</root>

</log4j:configuration>