<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config='true'>
		<intercept-url pattern="/**" access="ROLE_DEFAULT"/>
		<http-basic/>
		<logout logout-success-url="/"/>
	</http>
	
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user password="root" name="admin" authorities="ROLE_DEFAULT, ROLE_ADMIN"/>
				<user password="sana" name="sana" authorities="ROLE_DEFAULT"/>
				<user password="user" name="user" authorities="ROLE_USER"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>
	
	<global-method-security secured-annotations="enabled" jsr250-annotations="enabled">
		
	</global-method-security>
	
	<!-- CONFIGURATION D'UN FOURNISSER D'IDENTITÉ = BASE DE DONNÉES -->
<!-- 	<authentication-provider> -->
<!-- 		<jdbc-user-service data-source-ref="dataSource"/> -->
<!-- 	</authentication-provider> -->

</beans:beans>	