<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package=" com.excilys.computerdatabase.model" />
	<context:component-scan base-package=" com.excilys.computerdatabase.dao" />
	<context:component-scan base-package=" com.excilys.computerdatabase.service" />
	
	
	<!-- Internal Beans -->
	<bean class="com.excilys.computerdatabase.util.Util" id="util"></bean>
	<bean class="com.excilys.computerdatabase.mapper.ComputerMapper" id="ComputerMapper"></bean>
	<bean class="com.excilys.computerdatabase.mapper.CompanyMapper" id="CompanyMapper"></bean>
	
	<import resource="classpath:databaseContext.xml"/>
	<import resource="classpath:ValidationContext.xml"/>
	<import resource="classpath:springSecurity.xml"/>

</beans>