<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


<!--  Datasource Configuration -->
	 <context:property-placeholder location="classpath:jdbc.properties"/>
	 <!--  Erreur n'arrive pas à trouver jdbc/DatabaseName dans l'arbre jndi corriger d'abbord config serveur -->
<!-- 	 <context:property-placeholder location="classpath:env.properties"/> -->
<!-- 	 <jee:jndi-lookup id="dataSource" jndi-name="jdbc/DatabaseName" expected-type="javax.sql.DataSource" /> -->
   
<!--    <bean id="dbDataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> -->
<!--     <property name="jndiName" value="java:comp/env/jdbc/DatabaseName"/> -->
<!-- 	</bean> -->
   	
<!-- 	<bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
<!-- 		<property name="driverClassName" value="${jdbc.driverClassName}" /> -->
<!-- 		<property name="url" value="${jdbc.url}" /> -->
<!-- 		<property name="username" value="${jdbc.username}" /> -->
<!-- 		<property name="password" value="${jdbc.password}" /> -->
<!-- 	</bean> -->
		<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close" >
			<property name="driverClass" value="com.mysql.jdbc.Driver" />
			<property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/computer-database-db?zeroDateTimeBehavior=convertToNull" />
			<property name="username" value="root" />
			<property name="password" value="root" />
			<property name="maxConnectionsPerPartition" value="5" />
			<property name="minConnectionsPerPartition" value="3" />
			<property name="partitionCount" value="1" />
		</bean>
 
 	<!--  Spring transaction Configuration -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>	
	
<!-- 	<tx:advice id="serviceTxAdvice" transaction-manager="txManager"> -->
<!-- 		<tx:attributes> -->
<!-- 			<tx:method name="find*" propagation="REQUIRED" read-only="true" /> -->
<!-- 			<tx:method name="filter*" propagation="REQUIRED" read-only="true" /> -->
<!-- 			<tx:method name="get*" propagation="REQUIRED" read-only="true" /> -->
<!-- 			<tx:method name="*" propagation="REQUIRED" rollback-for="SQLException"/> -->
<!-- 		</tx:attributes> -->
<!-- 	</tx:advice> -->
	
<!-- 	<aop:config> -->
<!-- 		<aop:pointcut  id="serviceMethodes" expression="execution(* com.excilys.computerdatabase.service.*.*(..))" /> -->
<!-- 		<aop:advisor advice-ref="serviceTxAdvice" pointcut-ref="serviceMethodes" /> -->
<!-- 	</aop:config> -->
	
	<tx:annotation-driven transaction-manager="txManager"/>
	
	<context:annotation-config/>
	<context:component-scan base-package="com.excilys"/>	
</beans>